    /* Стили для адаптации на смартфонах */
    @media (max-width: 768px) {
      #logo {
        width: 100px; /* Уменьшаем ширину логотипа */
        left: 1cm; /* Отступ меньше */
      }

      img {
        width: 100vw; /* На маленьких экранах убираем отступы */
        height: auto;
      }

      #menu {
        font-size: 14px; /* Уменьшаем размер текста в меню */
        padding: 5px;
      }
    }
