  <!-- Стили для страницы -->
  <style>
    /* Общие стили для body и html, задаем размер и цвет фона */
    body, html {
      margin: 0; /* Убираем отступы */
      padding: 0; /* Убираем внутренние отступы */
      width: 100%; /* Ширина 100% экрана */
      height: 100%; /* Высота 100% экрана */
      display: flex; /* Flexbox для выравнивания контента */
      justify-content: center; /* Центрируем по горизонтали */
      align-items: center; /* Центрируем по вертикали */
      background-color: white;  /* Белый фон */
    }

    /* Стили для контейнера изображения */
    #imageContainer {
      position: relative; /* Позиционируем относительно других элементов */
      width: 100vw; /* Ширина контейнера на 100% экрана */
      height: 100vh; /* Высота контейнера на 100% экрана */
      display: flex; /* Flexbox для выравнивания изображения внутри */
      justify-content: center; /* Центрируем изображение по горизонтали */
      align-items: center; /* Центрируем изображение по вертикали */
    }

/* Стили для адаптации на смартфонах */
    @media (max-width: 768px) {
      #logo {
        width: 100px; /* Уменьшаем ширину логотипа */
        left: 1cm; /* Отступ меньше */
      }

      img {
        width: 100vw; /* На маленьких экранах убираем отступы */
        height: auto;
      }

      #menu {
        font-size: 14px; /* Уменьшаем размер текста в меню */
        padding: 5px;
      }
    }
