    /* Стили для меню */
    #menu {
      position: absolute; /* Позиционируем меню поверх контейнера */
      top: 6%; /* Отступ сверху */
      left: 50%; /* Центрируем по горизонтали */
      transform: translate(-50%, -50%); /* Точная центровка */
      z-index: 10; /* Меню отображается выше карты */
      color: white; /* Цвет текста в меню */
      font-size: 18px; /* Размер шрифта */
      background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
      padding: 10px; /* Внутренние отступы в меню */
      border-radius: 5px; /* Скругленные углы меню */
    }

    /* Стили для ссылок в меню */
    #menu a {
      color: white; /* Белый цвет текста */
      text-decoration: none; /* Убираем подчеркивание */
      margin-right: 15px; /* Отступ между ссылками */
    }
