/* Стили для изображения слайд-шоу */
    img {
      object-fit: cover; /* Изображение адаптируется под контейнер */
      width: calc(100vw - 2cm); /* Ширина изображения с отступом 1 см */
      height: calc(100vh - 6cm); /* Высота изображения с отступом 3 см */
    }

    /* Стили для перетягивания слайда */
    #slideshowImage {
      transition: transform 0.3s ease; /* Плавный переход для сдвига изображения */
      width: calc(100vw - 2cm); /* Убедитесь, что размеры совпадают с тем, как вы хотите отображать изображение */
      height: calc(100vh - 6cm); /* Аналогично с высотой */
    }

