    /* Стили для карты */
    #map {
      width: calc(100vw - 2cm); /* Ширина карты с отступом 1 см */
      height: calc(100vh - 6cm); /* Высота карты с отступом 3 см */
      display: none; /* По умолчанию карта скрыта */
      z-index: 5; /* Карта отображается ниже меню */
    }  

