    /* Стили для логотипа */
    #logo {
      position: absolute; /* Позиционируем логотип внутри контейнера */
      top: 10px; /* Отступ сверху */
      left: 5cm; /* Отступ слева 5 см */
      width: 150px; /* Ширина логотипа */
      height: auto; /* Высота будет авто для сохранения пропорций */
      object-fit: contain; /* Сохраняем пропорции и отображаем изображение полностью */
      z-index: 20; /* Логотип будет поверх других элементов */
    }
